<div id="overlay">
	<div id="prompt-text" class="centre-text">{{state.currentPrompt.text}}</div>
	<div class="flex-text">
		<div id="result-1">{{state.currentPrompt.answer1}}: {{state.currentPrompt.answer1Votes}}</div>
		<div id="result-2">{{state.currentPrompt.answer2}}: {{state.currentPrompt.answer2Votes}}</div>
	</div>
</div>